

.navbar{
  height: 65px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, red 1.18%, green 100%);
  color: white;
  padding: 20px;
}

.nav-title{
  left: 30px;
}

.nav-title{
  font-size: 1.25rem;
  margin-right: auto;
}

.home-link{
  font-size: 0.75rem;
  font-weight: 500;
  font-weight: lighter;
  position: relative;
}